<div class="itemContainer" data-titulo="<%= servicio.titulo %>">
    <div class="info">
        <img src="/media/imagenes/<%= servicio.imagen %>" alt="<%= servicio.titulo %>" class="itemServicioImagen">
        <div class="texts">
            <p><strong>Masajes: </strong><%= servicio.titulo %>.</p>
            <div>
                <p><strong>Duración: </strong>50 minutos.</p>
                <p><strong>Precio: </strong>$<%= servicio.precio %>.</p>
            </div>
        </div>
    </div>
    <i class="fa fa-times-circle" aria-hidden="true"></i>
</div>